/*DIV+CSS布局中主要CSS属性介绍：*/
/*Float:*/
/*Float属性是DIV+CSS布局中最基本也是最常用的属性，用于实现多列功能，我们知道<div>标签默认一行只能显示一个，
而使用Float属性可以实现一行显示多个div的功能，最直接解释方法就是能实现表格布局的多列功能。*/
/*Margin:*/
/*Margin属性用于设置两个元素之间的距离。*/
/*Padding:*/
/*Padding属性用于设置一个元素的边框与其内容的距离。*/
/*Clear:*/
/*使用Float属性设置一行有多个DIV后（多列），最好在下一行开始之前使用Clear属性清楚一下浮动，否则上面的布局会影响到下面。*/

/*让Container容器填满整个页面*/
html,body,#Container{         /*设置内部填充为0，几个布局元素之间没有间距*/
    padding: 0px;          /*外部间距也是如此设置*/
    margin: 0px;
    width: 100%;/*统一设置高度为100%*/
    height: 100%;
    background: #F3F3F3
}
/*#Container {*/
/*width: 100%;*/
/*margin: 0 auto; !*设置整个容器在浏览器中水平居中*!*/
/*background: #F3F3F3;*/
/*}*/
form, p, div, h1, h2, h3, ul,em{
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 75%;
    margin-left: 10px;
    margin-right: 10px;
    /*background: #F3F3F3 ;*/
}
.header div{
    margin-left: 30%;
    text-align: center;
    color: #fff;
}
.header .image{
    background:url(../image/banner.jpg)no-repeat right;
    height: 233px;
    width: 1000px
}
.header div h2{
    font-size: 48px;
    /*银光效果*/
    text-shadow: 2px 2px 4px #999;
}
.header div p{
    font-size: 18px;
    margin-top: 10px;
}
.content{
    /*height: 1000px;*/
    overflow:auto;
    /*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，
    如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
    margin-top: 10px; /*此处讲解margin的用法，设置content与上面header元素之间的距离*/
}
.content .leftContent{
    height: auto;
    padding: 20px;
    width: 33%;
    margin-top: 10px;
    margin-left: 23%; /*设置元素跟其他元素的距离为20像素*/
    float: left; /*设置浮动，实现多列效果，div+Css布局中很重要的*/
    border-radius: 3px;
    background: #ffffff;
}
.leftContent h3{
    font-size: 16px;
    font-weight: 500;
}
.leftContent p{
    margin-top: 10px;
    color: #666;
}
.leftContent .content_border{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #e8e8e8;
}
.leftContent p a{
    display: inline-block;
    margin-right: 12px;
    padding: 3px 10px;
    border-radius: 3px;
    background: #f47f00;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}
.leftContent p a.edit{
    background:#008ae8;
}
.leftContent p a.delete{
    background: #dd0000;
}

/*relay content css*/
.leftContent p.replayDiv{
    background: #fff0da;
    padding: 10px;
    border-radius: 3px;
}
.leftContent .page-normal{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.leftContent .page-normal a{
    /* text-decoration: none 消除下划线*/
    text-decoration: none;
    margin: 0px 0px 5px 5px;
    border-radius: 3px;
    padding: 0px 10px;
    color: #0a0a0a;
    background:#e8e8e8;
}
.page-normal span{
    margin: 0px 6px;
    font-size: 15px;
    color: #505050  ;
}
.leftContent h3 em{
    float: right;
    color: #999;
    font-size: 12px;
}
.content .rightContent{
    width: 18%;
    margin-top: 10px;
    margin-right: 25%; /*设置元素跟其他元素的距离为20像素*/
    float: right; /*设置浮动，实现多列效果，div+Css布局中很重要的*/
    border-radius: 3px;
    background: #dcecf4;
}
.rightContent p button{
    background: #00a8ee;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
    border-radius: 3px;
    margin-bottom: 10px;
}
#Foot{
    height: 40px;
    background: #F3F3F3;
    margin-top: 20px;
    text-align: center;
}